<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meme Website</title>


<style>
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
        p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 20px;
  }
  
  
          body
    {
      background-color: black;
      color: white;
    }
          h2{
    font-size: 50px;
  }


</style>
    
</head>
<body>
<h1>A website to gather some memes!</h1>
<p>Here is your meme! please refresh webpage to refresh your current meme.</p>
<p> Sorry, i am not that good at webpage designing.</p>
<p><img src="{{meme_pic}}"  class="center" ></p>
<h2>Current Subreddit:{{subreddit}}</h2>
</body>
</html>
